{{outlet}}

<h2>{{model.question}}<small> Submitted by: {{model.user}}</small></h2>
{{model.details}}


{{edit-question question=model updateQuestion="updateQuestion"}}
<hr>
<h2>Answers</h2>

<dl>
{{#each model.answer as |answer|}}
  <dt><small>{{submission-date answer.date_added}}</small></dt>
    <dd>{{answer.user}} says:</dd>
    <dd>{{answer.answer}}</dd>
  {{/each}}
</dl>

{{add-answer question=model saveAnswer="saveAnswer"}}