{{outlet}}

<h2>{{model.question}}<small> Submitted by: {{model.user}}</small></h2>
{{model.details}}


{{edit-question question=model updateQuestion="updateQuestion"}}
<hr>

<ul>
{{#each model.answer as |answer|}}
  <li>{{submission-date answer.date_added}}{{answer.user}} says: {{answer.answer}}</li>
  {{/each}}
</ul>

{{add-answer question=model saveAnswer="saveAnswer"}}